.gn-exclude{
  display: none !important;
}
.gn-layout-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gn-layout-row{
  flex-direction: row;
}
.gn-layout-column{
  flex-direction: column;
}
.gn-layout-grid{
  display: grid;
  width: 100%;
  height: 100%;
}
.gn-icon{
  cursor: pointer
}
.gn-label{}
.gn-button{
  border-radius: 5px;
  border: 0;
  padding: 0px 10px;
  height: 25px;
  background-color: #ccc;
  cursor: pointer;
}
.gn-tooltip-parent{
  position: relative;
}
.gn-tooltip{
  visibility: hidden;
  background-color: #555;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  /*margin-left: -60px;*/
  opacity: 0;
  transition: opacity 0.3s;
  padding: 5px 10px;
  transform: translateX(-50%);

}
.gn-tooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: var(--arrow-left, 50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.gn-tooltip-parent:hover .gn-tooltip {
  visibility: visible;
  opacity: 1;
}
.gn-text-area,
.gn-input{
  border-radius: 5px;
  border: 0;
  padding: 5px;
}
input[type="file"]{
  display: none;
}
.gn-input-file{
  height: 25px;
  cursor: pointer;
}
.gn-switch{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.gn-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.gn-switch span {
  position: absolute;
  cursor: pointer;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.gn-switch span::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.gn-switch input:checked + span {
  background-color: #2196F3;
}
.gn-switch input:checked + span:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
input[type="color" i] {
  padding: 0 1px;
}
input[type="color" i]::-webkit-color-swatch {
  border-radius: 5px;
}
.gn-text-area{
  resize: none;
}




.gn-tileContainer {
  flex-wrap: wrap;
  gap: 5px;
  color: #fff;
  float: left;
}
.gn-tileContainerHeader{
  background-color: #202020;
  padding: 8px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  width: 100%;
  height: 16px;
}
.gn-tileItem,
.gn-fakeTileItem,
.gn-tileSubItemContainer {
  flex-basis: 350px;
  flex-grow: 1;
  height: 350px;
  border: 1px solid #000;
  border-radius: 5px;
}
.gn-fakeTileItem{
  border:none;
}


.gn-header{
  height: 60px;
}
.gn-header-left{
  float: left;
  justify-content: flex-start;
}
.gn-header-right{
  float: right;
  justify-content: flex-end;
}


.gn-popup-base{
  position: absolute;
  z-index: 1000;
  width: auto;
  height: auto;
  background-color: aliceblue;
}
.gn-popup{
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gn-popup button,
.gn-popup label,
.gn-popup i{
  margin: 5px;
}
.gn-popup-header,
.gn-popup-footer{
  width: 100%;
  height: 30px;
}
.gn-popup-header{
  justify-content: space-between;
  border-bottom: 1px solid #111111;
}
.gn-popup-footer{
  justify-content: flex-end;
}
.gn-popup-body{
  width: 100%;
  min-height: 120px;
  height: auto;
  overflow-y: auto;
}
.gn-popup-menu div{
  border-bottom: 1px solid #000;
}


.gn-breadcrumb{
  gap: 5px
}