.gn-container-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gn-container-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gn-icon{
  cursor: pointer
}
.gn-tooltip-parent{
  position: relative;
}
.gn-tooltip{
  visibility: hidden;
  background-color: #555;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  /*margin-left: -60px;*/
  opacity: 0;
  transition: opacity 0.3s;
  padding: 5px 10px;
  transform: translateX(-50%);

}
.gn-tooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: var(--arrow-left, 50%);
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.gn-tooltip-parent:hover .gn-tooltip {
  visibility: visible;
  opacity: 1;
}




.gn-tileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  color: #fff;
  float: left;
}
.gn-tileContainerHeader{
  background-color: #202020;
  padding: 8px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  width: 100%;
}
.gn-tileItem,
.gn-fakeTileItem,
.gn-tileSubItemContainer {
  border: 1px solid #000;
  height: 350px;
  flex-basis: 350px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.gn-fakeTileItem{
  border:none;
}


.gn-header{
  height: 60px;
}
.gn-header-left{
  float: left;
  justify-content: flex-start;
}
.gn-header-right{
  float: right;
  justify-content: flex-end;
}


.gn-popup-base{
  position: absolute;
  z-index: 1000;
  width: auto;
  height: auto;
  background-color: aliceblue;
}
.gn-popup{
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gn-popup button,
.gn-popup label,
.gn-popup i{
  margin: 5px;
}
.gn-popup-header,
.gn-popup-footer{
  width: 100%;
  height: 30px;
}
.gn-popup-header{
  justify-content: space-between;
  border-bottom: 1px solid #111111;
}
.gn-popup-footer{
  justify-content: flex-end;
}
.gn-popup-body{
  width: 100%;
  min-height: 120px;
  height: auto;
  overflow-y: auto;
}
.gn-popup-menu div{
  border-bottom: 1px solid #000;
}


.gn-breadcrumb{
  gap: 5px
}